.property-list__text {
  text-align: center;
  color: grey;
}
.rent-house {
  margin: 2rem 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;

  &-img {
    height: 10rem;
    transition: all 0.2s;
    cursor: pointer;
    &:hover {
      transform: scale(1.1);
    }
  }
}
