.property-img {
  // display: grid;
  // grid-gap: 5rem;
  // grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.contact-detail {
  display: flex;

  justify-content: space-evenly;
}
